.color {
    --primary-font-color: #ECE0D0;
    --secondary-font-color: #DBC0AB;
    --last-background-color: #38210F;
    --second-last-background-color: #634932;
    --third-last-background-color: #967258;
}